services:
  db:
    image: postgres:15-alpine
    container_name: promof_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: promof_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80" # Acesse via http://IP_DO_LXC:5050
    depends_on:
      - db

  promof-bot:
    build: .
    container_name: promof_bot
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./data:/app/data
      - ./src:/app/src
    env_file:
      - .env