services:
  db:
    image: postgres:15-alpine
    container_name: promof_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          memory: 128M

  promof-bot:
    build: .
    container_name: promof_bot
    restart: unless-stopped
    environment:
      PYTHONUNBUFFERED: 1
    depends_on:
      - db
    volumes:
      - ./data:/app/data
      - ./src:/app/src
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1G
        reservations:
          memory: 256M